# Dependencias y Build
node_modules
.next
out
build
dist

# Datos Persistentes (Evita que entren a la imagen)
ollama_data/
postgres_data/
backups/*.gz

# Configuración y Secretos
.env
.env.*
.git
.gitignore

# Dockerfiles y Compose (no necesarios dentro de la imagen)
Dockerfile
Dockerfile.dev
docker-compose.yaml
docker-compose.override.yaml

# Basura del Sistema
.DS_Store
Thumbs.db